<section>
    <h2>All Products</h2>
    <div class="row justify-content-center">
        <div class="col-md-2 g-4" *ngFor="let product of products | paginate: { id: 'ProductPaginate',
        itemsPerPage: pageSize,
        currentPage:  currentPage,
        totalItems: total }">
            <div class="product p-2 cursor-pointer">
                <div [routerLink]="['/details',product._id]">
                    <img [src]="product.imageCover" class="w-100" [alt]="">
                    <h3 class="h6">{{product.category.name}}</h3>
                    <h4 class="h6">{{product.title.split(' ').slice(0,2).join(' ')}}</h4>
                    <div>
                        <div class="d-flex align-items-center justify-content-between">
                            <p>{{product.price}}Egp</p>
                            <div class="d-flex align-items-center">
                                <i class="fas fa-star rating-color mb-3"></i>
                                <p class="text-muted">{{product.ratingsAverage}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <button (click)="addProduct(product._id)" class="w-100 btn-main">add Products</button>

            </div>
        </div>
    </div>
    <pagination-controls class="d-flex justify-content-center"  id="ProductPaginate"
                      (pageChange)="pageChanged($event)"
                      (pageBoundsCorrection)="pageChanged($event)"
                      [maxSize]="9"
                      [directionLinks]="true"
                      [autoHide]="true"
                      [responsive]="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
</pagination-controls>
</section>