<section class="w-75 mx-auto rounded shadow bg-main-light p-3 mb-3" *ngIf="cartDetails">
    <div class="d-flex">
        <h1 class="h2">Shop Cart </h1>
        <button class=" btn-main ms-auto" (click)="clearCart()">Clear Cart</button>
    </div>
    <p>Total Price {{cartDetails.totalCartPrice|currency:' EGP '}}</p>
    <div class="row border-bottom py-2" *ngFor="let item of cartDetails.products">

        <div class="col-md-1">
            <img class="w-100" [src]="item.product.imageCover" [alt]="item.product.title">    
        </div>

        <div class=" col-md-11 d-flex justify-content-between">
            <div>
                <h3 class="h6">{{item.product.title}}</h3>
                <p class="text-main">{{item.price|currency:' EGP '}}</p>
                <p class="text-muted">{{item.description}}</p>
                <button (click)="removeItem(item.product._id)" class="btn text-danger m-0 p-0"><i class="fas fa-trash"></i> remove</button>
            </div>
            <div class="">
                <button (click)="ChangeCount(item.count+1,item.product._id)" class="btn btn-sm border-success mx-1">+</button>
                <span>{{item.count}}</span>
                <button (click)="ChangeCount(item.count-1,item.product._id)" class="btn btn-sm border-success mx-1">-</button>
            </div>
        </div>

    </div>
    <button [routerLink]="['/payment',cartDetails._id]" class=" btn-main">Online Payment <img src="assets/images/visa.svg" alt="Visa Logo"></button>
</section>

<section *ngIf="!cartDetails">
    <h3 class="text-center text-main align-content-center">Cart is Empty</h3>
</section>

