<div class="bg-main-light p-4 my-0">
    <div class=" container py-2">

        
        <form [formGroup]="registerForm" (ngSubmit)="handleForm()">

            <label for="name">Name :</label>
            <input type="text" formControlName="name" id="name" class="form-control">
            <div class="alert alert-danger" *ngIf="(registerForm.get('name')?.errors&&registerForm.get('name')?.touched)">
                <p *ngIf="registerForm.get('name')?.getError('required')">Required</p>
                <p *ngIf="registerForm.get('name')?.getError('minlength')">min length should be 3</p>
                <p *ngIf="registerForm.get('name')?.getError('maxlength')">max length should be 18</p>
            </div>
            <label for="email">email :</label>
            <input type="email" formControlName="email" id="email" class="form-control">

            <div class="alert alert-danger"*ngIf="(registerForm.get('email')?.errors&&registerForm.get('email')?.touched)">
                <p *ngIf="registerForm.get('email')?.getError('required')">Required</p>
                <p *ngIf="registerForm.get('email')?.getError('email')">invalid</p>
            </div>



            <label for="Password">Password</label>
            <input type="password" formControlName="password" id="password" class="form-control" (keyup)="checkPass()">

            <div class="alert alert-danger"*ngIf="(registerForm.get('password')?.errors&&registerForm.get('password')?.touched)">
                <p *ngIf="registerForm.get('password')?.getError('required')">Required</p>
                <p *ngIf="registerForm.get('password')?.getError('pattern')">Must begin with capital letter and more than 6 chars and less than 20</p>

            </div>



            <label for="rePassword">rePassword</label>
            <input type="password" formControlName="rePassword" id="rePassword" class="form-control" (keyup)="checkPass()">

            <div class="alert alert-danger mb-0 border-0"*ngIf="(registerForm.get('rePassword')?.errors&&registerForm.get('rePassword')?.touched)">
                <p *ngIf="registerForm.get('rePassword')?.getError('required')">Required</p>
                <p *ngIf="registerForm.get('rePassword')?.getError('mismatch')">password must be same</p>

            </div>



            <label for="phone">Phone :</label>
            <input type="tel" formControlName="phone" id="phone" class="form-control">

            <div class="alert alert-danger"*ngIf="(registerForm.get('phone')?.errors&&registerForm.get('phone')?.touched)">
                <p *ngIf="registerForm.get('phone')?.getError('required')">Required</p>
                <p *ngIf="registerForm.get('phone')?.getError('pattern')">invalid</p>
            </div>

        </form>
    </div>
    <div class="container">
        <button [disabled]="registerForm.invalid" (click)="handleForm()" type="submit" class="btn-main mx-auto rounded">
        <i *ngIf="isloading" class="fas fa-spin fa-spinner"></i>    Register</button>
        <p *ngIf="msgError" class="alert alert-danger">{{msgError}}</p>
    </div>
</div>