<section [formGroup]="forgetForm" *ngIf="step1" class="rounded container bg-main-light p-5 my-1">

    <form (ngSubmit)="forgetPassword()">
        <label for="email">email</label>
        <input formControlName="email" type="email" id="email" class="form-control">
        <button class="btn-main w-100 mt-3" type="submit" (click)="forgetPassword()">Forget Password</button>
    </form>

</section>



<section (ngSubmit)="resetCode()" [formGroup]="resetCodeForm"  *ngIf="step2" class="rounded container bg-main-light p-5 my-1">

    <form>
        <label for="reset Code">reset Code</label>
        <input formControlName="resetCode" type="text" id="reset Code" class="form-control">
        <button class="btn-main w-100 mt-3" (click)="resetCode()" >Forget Password</button>
    </form>

</section>



<section (ngSubmit)="resetPass()" [formGroup] ='resetPassword' *ngIf="step3" class="rounded container bg-main-light p-5 my-1">

    <form>
        <label for="reset password">Reset password</label>
        <input formControlName="newPassword" type="text" id="newPassword" class="form-control">
        <button (click)="resetPass()" class="btn-main w-100 mt-3" >Reset Password</button>
    </form>

</section>