<section class="container w-75 mx-auto rounded bg-main-light p-3">
    <form [formGroup]="orderForm" (ngSubmit)="handleForm()">
        <div class="form-item">
            <label for="details">details</label>
            <input class="form-control" type="text" id="details" formControlName="details">
        </div>
        <div class="form-item">
            <label for="phone">phone</label>
            <input class="form-control" type="tel" id="phone" formControlName="phone">
        </div>
        <div class="form-item">
            <label for="city">city</label>
            <input class="form-control" type="text" id="city" formControlName="city">
        </div>
        <button (click)="handleForm()" class="btn-main">Check Out</button>
    </form>
</section>