<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="home"><img src="assets/images/freshcart-logo.svg" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-capitalize" routerLinkActive="active-link" routerLink="home">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-capitalize" routerLinkActive="active-link"
                        routerLink="products">products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize" routerLinkActive="active-link"
                        routerLink="categories">categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-capitalize" routerLinkActive="active-link" routerLink="brands">brands</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-capitalize position-relative" routerLink="cart"><i
                            class="fas fa-shopping-cart text-main fa-2x "></i>
                        <span class="badge bg-info position-absolute top-0 end-0">{{cartNumber}}</span>
                    </a>
                </li>
                <li class="nav-item" >
                    <a routerLink="whishlist" class="nav-link"><i class="fa fa-heart fa-2x heart"></i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link menu-item dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false" data-mdb-display="static" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-person fa-2x"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">1</a></li>
                        <li><a class="dropdown-item" href="#">2</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-facebook"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-instagram"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fab fa-linkedin"></i></a>
                </li>
                <li class="nav-item d-flex cursor-pointer">
                    <span class="mx-1 align-self-center cursor-pointer" (click)="logOutUser()">SignOut</span>
                </li>
            </ul>
        </div>
    </div>
</nav>